# Titanic: Machine Learning

## Data Gathering

**1.** The dataset for this project can be found in the given link: https://www.kaggle.com/competitions/titanic/data?select=train.csv

**2.** The "train.csv" dataset will be used in this project

In [219]:
#importing the necessary libararies for the whole program
import numpy as np
import pandas as pd

## Data Preparation

**1.** The dataset has NaN values which is necessarry to be replace by a numerical value

**2.** But that is unnecessary if the column containing that NaN values will be removed

**3.** Cleaning the given dataset by removing some parameters is recommended

In [220]:
# reading and showing the dataset

tn_train=pd.read_csv("train.csv")
tn_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [221]:
tn_train = tn_train.drop(["PassengerId", "Name", "Age", "SibSp", "Parch", "Ticket", "Fare", "Cabin", "Embarked"], axis=1)

In [222]:
# for checking if the desired columns are removed

tn_train.head()

   Survived  Pclass     Sex
0         0       3    male
1         1       1  female
2         1       3  female
3         1       1  female
4         0       3    male

In [223]:
# converting "male" and "female" into numerical values

tn_train.loc[tn_train["Sex"]=='female','Sex']=1
tn_train.loc[tn_train["Sex"]=='male','Sex']=0

In [224]:
tn_train.head()

   Survived  Pclass Sex
0         0       3   0
1         1       1   1
2         1       3   1
3         1       1   1
4         0       3   0

In [225]:
# checking if the size of the dataset is unchanged

print(tn_train.shape)

(891, 3)

## Model Selection

**1.** The machine learning models that will be used is presented in this section

**2.** In this section, Random Forest and Naive Bayes are used as the machine learning model

In [226]:
# machine learning models and other libraries for training and evaluation

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

## Data Training

**1.** The prepared data is trained in this process

**2.** The trained data will then be used for data evaluation

In [227]:
tn_x=tn_train.drop(['Survived'], axis=1)
tn_y=tn_train['Survived']

In [228]:
x_train, x_test, y_train, y_test = train_test_split(tn_x, tn_y, test_size = .2)

## Data Evaluation

**1.** The data is evaluated in this process using the two machine learning models

**2.** The accuracy of both models is also presented in this section

In [229]:
# for Random Forest model

tn_rf=RandomForestClassifier()
tn_rf.fit(x_train, y_train)

# for Naive Bayes model

tn_g=GaussianNB()
tn_g.fit(x_train, y_train)

GaussianNB()

## Prediction

In [230]:

tn_ypred=tn_rf.predict(x_test)
tn_gpred=tn_g.predict(x_test)

tn_accuracy=round(accuracy_score(y_test, tn_ypred)*100,2)
print("RFaccuracy = ", tn_accuracy)

tn_accgn=round(accuracy_score(y_test, tn_gpred)*100, 2)
print("NBaccuracy = ", tn_accgn)

RFaccuracy =  81.01
NBaccuracy =  81.01

# Titanic: Neural Network

In [231]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [232]:
# defining variables that will be used for analyzing the data

x=tn_train.iloc[:,1:2]
y=tn_train.iloc[:,0]

In [233]:
# creating layers for the neural network

model = Sequential()
model.add(Dense(12, input_shape=(1,), activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [234]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [235]:
model.fit(x, y, epochs=150, batch_size=10)

Epoch 1/150
90/90 [==============================] - 1s 2ms/step - loss: 0.6735 - accuracy: 0.5600
Epoch 2/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6412 - accuracy: 0.6162
Epoch 3/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6376 - accuracy: 0.6162
Epoch 4/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6323 - accuracy: 0.6162
Epoch 5/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6295 - accuracy: 0.6162
Epoch 6/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6274 - accuracy: 0.6162
Epoch 7/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6239 - accuracy: 0.6150
Epoch 8/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6239 - accuracy: 0.6790
Epoch 9/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6196 - accuracy: 0.6790
Epoch 10/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6206 - accuracy: 0.6790
Epoch 11/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6157 - accuracy: 0.6790
Epoch 12/150
90/90 [==============================] - 0s 1ms/step - loss: 0.6163 - accuracy: 0.6790
Epoch 13/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6153 - accuracy: 0.6790
Epoch 14/150
90/90 [==============================] - 0s 1ms/step - loss: 0.6140 - accuracy: 0.6790
Epoch 15/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6134 - accuracy: 0.6790
Epoch 16/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6124 - accuracy: 0.6790
Epoch 17/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6113 - accuracy: 0.6790
Epoch 18/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6118 - accuracy: 0.6790
Epoch 19/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6100 - accuracy: 0.6790
Epoch 20/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6118 - accuracy: 0.6790
Epoch 21/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6100 - accuracy: 0.6790
Epoch 22/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6096 - accuracy: 0.6790
Epoch 23/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6125 - accuracy: 0.6790
Epoch 24/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6094 - accuracy: 0.6790
Epoch 25/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6110 - accuracy: 0.6790
Epoch 26/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6099 - accuracy: 0.6790
Epoch 27/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6098 - accuracy: 0.6790
Epoch 28/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6104 - accuracy: 0.6790
Epoch 29/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6092 - accuracy: 0.6790
Epoch 30/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6096 - accuracy: 0.6790
Epoch 31/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6091 - accuracy: 0.6790
Epoch 32/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6096 - accuracy: 0.6790
Epoch 33/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6095 - accuracy: 0.6790
Epoch 34/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6092 - accuracy: 0.6790
Epoch 35/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6092 - accuracy: 0.6790
Epoch 36/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6101 - accuracy: 0.6790
Epoch 37/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6090 - accuracy: 0.6790
Epoch 38/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6097 - accuracy: 0.6790
Epoch 39/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6106 - accuracy: 0.6790
Epoch 40/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6095 - accuracy: 0.6790
Epoch 41/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6100 - accuracy: 0.6790
Epoch 42/150
90/90 [==============================] - 0s 3ms/step - loss: 0.6094 - accuracy: 0.6790
Epoch 43/150
90/90 [==============================] - 0s 4ms/step - loss: 0.6093 - accuracy: 0.6790
Epoch 44/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6092 - accuracy: 0.6790
Epoch 45/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6099 - accuracy: 0.6790
Epoch 46/150
90/90 [==============================] - 0s 3ms/step - loss: 0.6085 - accuracy: 0.6790
Epoch 47/150
90/90 [==============================] - 0s 3ms/step - loss: 0.6099 - accuracy: 0.6790
Epoch 48/150
90/90 [==============================] - 0s 3ms/step - loss: 0.6104 - accuracy: 0.6790
Epoch 49/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6089 - accuracy: 0.6790
Epoch 50/150
90/90 [==============================] - 0s 4ms/step - loss: 0.6098 - accuracy: 0.6790
Epoch 51/150
90/90 [==============================] - 0s 3ms/step - loss: 0.6093 - accuracy: 0.6790
Epoch 52/150
90/90 [==============================] - 0s 3ms/step - loss: 0.6097 - accuracy: 0.6790
Epoch 53/150
90/90 [==============================] - 0s 3ms/step - loss: 0.6103 - accuracy: 0.6790
Epoch 54/150
90/90 [==============================] - 0s 1ms/step - loss: 0.6104 - accuracy: 0.6790
Epoch 55/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6097 - accuracy: 0.6790
Epoch 56/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6098 - accuracy: 0.6790
Epoch 57/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6090 - accuracy: 0.6790
Epoch 58/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6095 - accuracy: 0.6790
Epoch 59/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6096 - accuracy: 0.6790
Epoch 60/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6099 - accuracy: 0.6790
Epoch 61/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6104 - accuracy: 0.6790
Epoch 62/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6094 - accuracy: 0.6790
Epoch 63/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6093 - accuracy: 0.6790
Epoch 64/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6099 - accuracy: 0.6790
Epoch 65/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6094 - accuracy: 0.6790
Epoch 66/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6094 - accuracy: 0.6790
Epoch 67/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6089 - accuracy: 0.6790
Epoch 68/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6092 - accuracy: 0.6790
Epoch 69/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6093 - accuracy: 0.6790
Epoch 70/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6093 - accuracy: 0.6790
Epoch 71/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6107 - accuracy: 0.6745
Epoch 72/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6099 - accuracy: 0.6790
Epoch 73/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6089 - accuracy: 0.6790
Epoch 74/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6090 - accuracy: 0.6790
Epoch 75/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6096 - accuracy: 0.6790
Epoch 76/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6098 - accuracy: 0.6790
Epoch 77/150
90/90 [==============================] - 0s 1ms/step - loss: 0.6094 - accuracy: 0.6790
Epoch 78/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6093 - accuracy: 0.6790
Epoch 79/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6093 - accuracy: 0.6790
Epoch 80/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6098 - accuracy: 0.6790
Epoch 81/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6093 - accuracy: 0.6790
Epoch 82/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6091 - accuracy: 0.6790
Epoch 83/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6088 - accuracy: 0.6790
Epoch 84/150
90/90 [==============================] - 0s 1ms/step - loss: 0.6089 - accuracy: 0.6790
Epoch 85/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6088 - accuracy: 0.6790
Epoch 86/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6086 - accuracy: 0.6790
Epoch 87/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6096 - accuracy: 0.6790
Epoch 88/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6100 - accuracy: 0.6790
Epoch 89/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6091 - accuracy: 0.6790
Epoch 90/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6092 - accuracy: 0.6790
Epoch 91/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6089 - accuracy: 0.6790
Epoch 92/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6091 - accuracy: 0.6790
Epoch 93/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6094 - accuracy: 0.6790
Epoch 94/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6096 - accuracy: 0.6790
Epoch 95/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6090 - accuracy: 0.6790
Epoch 96/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6094 - accuracy: 0.6790
Epoch 97/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6090 - accuracy: 0.6790
Epoch 98/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6091 - accuracy: 0.6790
Epoch 99/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6097 - accuracy: 0.6790
Epoch 100/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6091 - accuracy: 0.6790
Epoch 101/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6096 - accuracy: 0.6790
Epoch 102/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6088 - accuracy: 0.6790
Epoch 103/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6098 - accuracy: 0.6790
Epoch 104/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6100 - accuracy: 0.6790
Epoch 105/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6102 - accuracy: 0.6790
Epoch 106/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6091 - accuracy: 0.6790
Epoch 107/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6090 - accuracy: 0.6790
Epoch 108/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6089 - accuracy: 0.6790
Epoch 109/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6097 - accuracy: 0.6790
Epoch 110/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6092 - accuracy: 0.6790
Epoch 111/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6108 - accuracy: 0.6790
Epoch 112/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6098 - accuracy: 0.6790
Epoch 113/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6086 - accuracy: 0.6790
Epoch 114/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6094 - accuracy: 0.6790
Epoch 115/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6096 - accuracy: 0.6790
Epoch 116/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6097 - accuracy: 0.6790
Epoch 117/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6091 - accuracy: 0.6790
Epoch 118/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6092 - accuracy: 0.6790
Epoch 119/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6093 - accuracy: 0.6790
Epoch 120/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6092 - accuracy: 0.6790
Epoch 121/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6096 - accuracy: 0.6790
Epoch 122/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6091 - accuracy: 0.6790
Epoch 123/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6096 - accuracy: 0.6790
Epoch 124/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6088 - accuracy: 0.6790
Epoch 125/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6105 - accuracy: 0.6790
Epoch 126/150
90/90 [==============================] - 0s 1ms/step - loss: 0.6086 - accuracy: 0.6790
Epoch 127/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6094 - accuracy: 0.6790
Epoch 128/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6088 - accuracy: 0.6790
Epoch 129/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6098 - accuracy: 0.6790
Epoch 130/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6085 - accuracy: 0.6790
Epoch 131/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6088 - accuracy: 0.6790
Epoch 132/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6088 - accuracy: 0.6790
Epoch 133/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6091 - accuracy: 0.6790
Epoch 134/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6088 - accuracy: 0.6790
Epoch 135/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6090 - accuracy: 0.6790
Epoch 136/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6125 - accuracy: 0.6790
Epoch 137/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6093 - accuracy: 0.6790
Epoch 138/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6089 - accuracy: 0.6790
Epoch 139/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6087 - accuracy: 0.6790
Epoch 140/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6096 - accuracy: 0.6790
Epoch 141/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6090 - accuracy: 0.6790
Epoch 142/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6094 - accuracy: 0.6790
Epoch 143/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6087 - accuracy: 0.6790
Epoch 144/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6092 - accuracy: 0.6790
Epoch 145/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6100 - accuracy: 0.6712
Epoch 146/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6093 - accuracy: 0.6790
Epoch 147/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6093 - accuracy: 0.6790
Epoch 148/150
90/90 [==============================] - 0s 1ms/step - loss: 0.6099 - accuracy: 0.6790
Epoch 149/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6091 - accuracy: 0.6790
Epoch 150/150
90/90 [==============================] - 0s 2ms/step - loss: 0.6091 - accuracy: 0.6790

In [236]:
#  shows the accuracy of the neural network model

_, accuracy = model.evaluate(x, y)
print('Accuracy: %.2f' % (accuracy*100))

28/28 [==============================] - 0s 1ms/step - loss: 0.6081 - accuracy: 0.6790
Accuracy: 67.90

# Comparison, Analysis, and Conclusion

In this project, the machine learning models that I used are Random Forest and Naive Bayes while the other algorithm model is just a simple neural network. When it comes to the comparison between the two machine learning models, their difference is not visible when we are talking about the accuracy paramater. Most of the time, both of them produce the same accuracy. On the other hand, when compared to the neural network, the accuracy produced by the two machine learning models are higher than the neural network. Overall, the accuracy of all the algorithms used is low.

The reason behind this is that the input data of the dataset used for data training is quite low. This is a common reason for acquiring a low accuracy when evaluating the trained dataset. Of course, to improve the accuracy, I need to increase the input parameters to achieve a high accuracy. I think that this is also the reason why the two machine learning models always results to the same value of accuracy. Another reason is that I did not go through the hyperparameter tuning. 

As a conclusion, I was not able to differentiate clearly the two machine learning models because of the less input parameters. With that, I cannot say which of the two models is better when it comes to classifying a dataset. In addition, this can be solved by providing a better input data for the algorithm and applying hyperparameter tuning.